### Fairfield Polling Places

Create a csv file of polling locations by street and school using info from:
* https://www.fairfieldct.org/filestorage/10726/12538/12540/12463/12467/RTM_District_Street_Listing_including_Polling_Locations_-_10-05-2015.pdf

The polling.txt file was created by downloading the above url manually (had a problem using requests), and then using Apache pdfbox to extract the text from the pdf

In [1]:
import pandas as pd
import numpy as np
import requests
import re

In [2]:
# Extract text from pdf using Apache pdfbox jar (you need java installed)
!bash pdfjar_extract_text.sh data polling

In [3]:
txt = open('data/polling.txt','r').readlines()
sn = 'STREET NAME SIDE'
header = 'STREET NAME SIDE RANGE D/P LO/D SP/DPOLLING PLACE'
start_loc = None
for i in range(len(txt)):
    t = txt[i]
    if sn in t:
        start_loc=i
        break

lines = []
locs = []
streets = []
schools = []
loc_re = ' [0-9]{1,}[^0-9][0-9]{1,}[ ][0-9]{1,}[^0-9][0-9]{1,}'
for t in txt[start_loc:]:
    if 'STREET' not in t:
        lines.append(t)
for t in lines:
    try:
        parts = re.split(loc_re,t.strip())
        loc = re.findall(loc_re,t.strip())[0]
        schools.append(parts[1])
        streets.append(parts[0])
        locs.append(loc)
    except Exception as e:
        print(e)
        print(t)
        continue

df_poll = pd.DataFrame({'street':streets,'school':schools,'loc':locs})
df_poll

list index out of range
Youngstown Road 145-148A 003-32Fairfield Woods Middle School

list index out of range
SELECTION CRITERIA

list index out of range
Congressional : 004

list index out of range
Senatorial : 028

list index out of range
Assembly : 132,133,134

list index out of range
Voting District : 001-34,002-34,003-32,003-34,004-33,005-33,006-33,007-33,008-32,009-32,010-32

list index out of range
District Type : State

list index out of range
Print Options : Polling Place, Congress/Senatorial/Assembly

list index out of range
Street :

list index out of range
Polling Place :

list index out of range
Abbreviations :

list index out of range
D/P: District/Precinct

list index out of range
SP/D: Special District

list index out of range
LO/D: Local District

,street,school,loc
0,__ A,McKinley School,999999-999999 006-33
1,Abbey Road A,St Pius School,1-999999 002-34
2,Aberdeen Way A,Mill Hill School,2-71 010-32
3,Abigails Way A,Fairfield Woods Middle School,1-999999 003-32
4,Acorn Lane A,Mill Hill School,1-999999 010-32
...,...,...,...
1336,Wyncum Valley Road A,St Pius School,1-999999 002-34
1337,Wynn Wood Drive A,Stratfield School,1-999999 004-33
1338,Yarrow Road A,Holland Hill School,1-999999 007-33
1339,York Road A,McKinley School,1-999999 006-33
1340,Youngstown Road A,McKinley School,10-116 006-33

In [5]:
df_poll.to_csv('polling_places.csv',index=False)

In [6]:
df_poll[df_poll.school.str.lower().str.contains('dwight')]

                   street         school               loc
13     Alexandria Court A  Dwight School   1-999999 001-34
26       Aran Hill Road A  Dwight School   1-999999 001-34
35       Aspetuck Falls A  Dwight School   1-999999 001-34
36         Audubon Lane A  Dwight School   1-999999 001-34
44     Banks North Road A  Dwight School   1-999999 001-34
...                   ...            ...               ...
1291       Westlea Lane A  Dwight School   1-999999 001-34
1292  Westport Turnpike A  Dwight School   1-999999 001-34
1304  Whiting Pond Road A  Dwight School   1-999999 001-34
1305    Wildflower Lane A  Dwight School   1-999999 001-34
1325    Wood House Road A  Dwight School   1-999999 001-34

[155 rows x 3 columns]